:root {
    /* Primary Colors */
    --primary-main: #FFC107; /* Yellow */
    --primary-light: #FFD54F;
    --primary-dark: #FFA000;
    --primary-text: #ffffff;
    --primary-rgb: 255, 193, 7; /* RGB representation */
    --primary-subtle: rgba(255, 193, 7, 0.5); /* Subtle version */
    --primary-emphasis: #FF8F00; /* Emphasis version */

    /* Secondary Colors */
    --secondary-main: #3498db; /* Complementary color (Blue) */
    --secondary-light: #5faee3;
    --secondary-dark: #1f6488;
    --secondary-text: #ffffff;
    --secondary-rgb: 52, 152, 219; /* RGB representation */
    --secondary-subtle: rgba(52, 152, 219, 0.5); /* Subtle version */
    --secondary-emphasis: #20638f; /* Emphasis version */
    /* Background Colors */
    --background-main: #F5F5F5;
    --background-secondary: #ffffff;

    --bs-primary: var(--primary-main);
    --bs-secondary: var(--secondary-main);
    --bs-primary-rgb: var(--primary-rgb);
    --bs-secondary-rgb: var(--secondary-rgb);
    --bs-primary-bg-subtle: var(--primary-subtle);
    --bs-secondary-bg-subtle: var(--secondary-subtle);
    --bs-primary-text-emphasis: var(--primary-emphasis);
    --bs-secondary-text-emphasis: var(--secondary-emphasis);
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-main);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
main{
    min-height: 85vh;
}
header{
    z-index: 10;
    position: sticky;
}

.navbar-brand {
    --bs-text-opacity: 1;
    font-size: 1.75rem;
    font-weight: 800;
}

.navbar .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.3s;
    color: ghostwhite;
    border-radius: var(--bs-border-radius-pill);
}

.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:active, .navbar .nav-item .nav-link:focus {
    --bs-text-opacity: 0.4;
    background: rgba(var(--primary-rgb), var(--bs-text-opacity)) !important;
    color: rgba(0, 0, 0, 0.6);

}

.navbar .nav-item .nav-link.active {
    --bs-text-opacity: 1;
    background: rgba(var(--primary-rgb), var(--bs-text-opacity)) !important;
    color: rgba(0, 0, 0, 0.6);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary-dark);
    --bs-btn-hover-border-color: var(--primary-dark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-dark);
    --bs-btn-active-border-color: var(--primary-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-emphasis);
    --bs-btn-disabled-border-color: var(--primary-emphasis);
        border-radius: var(--bs-border-radius-pill);
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary-dark);
    --bs-btn-hover-border-color: var(--secondary-dark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--secondary-dark);
    --bs-btn-active-border-color: var(--secondary-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--secondary-emphasis);
    --bs-btn-disabled-border-color: var(--secondary-emphasis);
        border-radius: var(--bs-border-radius-pill);
}

.btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-secondary);
    --bs-gradient: none;
        border-radius: var(--bs-border-radius-pill);

}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-radius: 0 0 0 50% / 0 0 0 100%;
}

.hero img {
    position: absolute;
    top: -6%;
    right: -100%;
    transform: rotate(30deg);
}


.hero-img {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*.hero:after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background: rgba(0, 0, 0, 0.6);*/
/*    z-index: 2;*/
/*}*/

.hero .card {
    z-index: 3;
}

.custom-list {
    position: relative;
}

.custom-list::before {
    content: " ";
    position: relative;
    display: inline-block;
    width: 30px;
    height: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: var(--primary-main);
}

.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
    animation: loading 1.8s linear forwards;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: center right;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #ffffff;
    font-size: 24px;
    color: black;
    font-weight: 700;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress-primary .progress-bar {
    border-color: var(--primary-main);
    border-radius: 15px;
}

.progress-secondary .progress-bar {
    border-color: var(--secondary-main);
}

.progress-success .progress-bar {
    border-color: var(--bs-success);
}

.progress-info .progress-bar {
    border-color: var(--bs-info);
}

.progress-warning .progress-bar {
    border-color: var(--bs-warning);
}

.progress-danger .progress-bar {
    border-color: var(--bs-danger);
}

.progress .progress-left .progress-bar {
    animation: loading 1.5s linear forwards 1.8s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc((var(--progress-percentage, 0%) / 100) * 180deg));
    }
}


/* PROGRESS CIRCLE COMPONENT */
.circliful {
    margin: auto;
    position: relative;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
    color: #999;
}

.circliful .fa {
    margin: -10px 3px 0 3px;
    position: relative;
    bottom: 4px;
}


@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}
