{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% if goal %}
        <section>
            <div class="container my-5">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-start align-items-center gap-2">
                            <i class="bi bi-rocket-takeoff text-danger"></i>
                            <i class="bi bi-rocket-takeoff text-danger"></i>
                            <p class="mb-0">
                                <strong>You have a Nutritional Goal to reach </strong>
                            </p>
                            <i class="bi bi-rocket-takeoff text-danger"></i>
                            <i class="bi bi-rocket-takeoff text-danger"></i>

                        </div>
                        <hr/>
                        <ul class="list-unstyled d-grid justify-content-start">
                            <li class="d-flex justify-content-start gap-1 align-items-center">
                                    <span class="fw-bold">
                                        Calorie:
                                    </span>
                                {{ goal.calorie_goal|floatformat }}
                            </li>
                            <li class="d-flex justify-content-start gap-1 align-items-center">
                                    <span class="fw-bold">
                                    Protein:
                                    </span>
                                {{ goal.protein_goal|floatformat }}
                            </li>
                            <li class="d-flex justify-content-start gap-1 align-items-center">
                                    <span class="fw-bold">
                                    Carbohydrates:
                                    </span>
                                {{ goal.carbs_goal|floatformat }}
                            </li>
                            <li class="d-flex justify-content-start gap-1 align-items-center">
                                    <span class="fw-bold">
                                    Fats:
                                    </span>
                                {{ goal.fats_goal|floatformat }}
                            </li>
                        </ul>
                        <hr/>
                        <div class="d-flex justify-content-start align-items-center gap-2">

                            {% if days_goal_remaining <= 0 %}
                                <i class="bi bi-alarm-fill text-danger"></i>
                                <i class="bi bi-alarm-fill text-danger"></i>
                                <p class="mb-0">
                                    <strong>Your Goal Finished</strong>
                                </p>
                                <i class="bi bi-alarm-fill text-danger"></i>
                                <i class="bi bi-alarm-fill text-danger"></i>
                            {% else %}
                                <i class="bi bi-alarm text-danger"></i>
                                <i class="bi bi-alarm text-danger"></i>
                                <p class="mb-0">
                                    <strong>And Only {{ days_goal_remaining }} Days remaining to reach your
                                        goal </strong>
                                </p>
                                <i class="bi bi-alarm text-danger"></i>
                                <i class="bi bi-alarm text-danger"></i>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container my-5">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 row-gap-4">
                    <div class="col">
                        <div class="card p-3 border-0 shadow">
                            <div class="card-header border-0 bg-transparent">
                                <h2 class="card-title text-center  text-secondary-emphasis fw-bold">Calories</h2>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div id="progress-1" data-dimension="200" data-text="{{ percentage_calories }}%"
                                         data-fontsize="36"
                                         data-percent="{{ percentage_calories }}" data-fgcolor="#198754"
                                         data-bgcolor="#eee" data-width="15"
                                         data-bordersize="4" data-animationstep="1"></div>
                                </div>
                                <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                    <span class="badge
                                            {% if days_goal_remaining > 10 %}
                                            bg-success
                                            {% elif days_goal_remaining >= 5 and days_goal_remaining < 10 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}">
                                        {% if days_goal_remaining <= 0 %}
                                            Finished
                                        {% else %}
                                            {{ days_goal_remaining }} Days Remaining
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border-0 shadow">
                            <div class="card-header border-0 bg-transparent">
                                <h2 class="card-title text-center  text-secondary-emphasis fw-bold">Protein</h2>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div id="progress-2" data-dimension="200" data-text="{{ percentage_protein }}%"
                                         data-fontsize="36"
                                         data-percent="{{ percentage_protein }}" data-fgcolor="#dc3545"
                                         data-bgcolor="#eee" data-width="15"
                                         data-bordersize="4" data-animationstep="1"></div>
                                </div>
                                <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                    <span class="badge
                                            {% if days_goal_remaining > 10 %}
                                            bg-success
                                            {% elif days_goal_remaining >= 5 and days_goal_remaining < 10 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}">
                                               {% if days_goal_remaining <= 0 %}
                                                   Finished
                                               {% else %}
                                                   {{ days_goal_remaining }} Days Remaining
                                               {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border-0 shadow">
                            <div class="card-header border-0 bg-transparent">
                                <h2 class="card-title text-center  text-secondary-emphasis fw-bold">Carbs</h2>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div id="progress-3" data-dimension="200" data-text="{{ percentage_carbs }}%"
                                         data-fontsize="36"
                                         data-percent="{{ percentage_carbs }}" data-fgcolor="#0dcaf0"
                                         data-bgcolor="#eee" data-width="15"
                                         data-bordersize="4" data-animationstep="1"></div>
                                </div>
                                <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                    <span class="badge
                                            {% if days_goal_remaining > 10 %}
                                            bg-success
                                            {% elif days_goal_remaining >= 5 and days_goal_remaining < 10 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}">
                                                  {% if days_goal_remaining <= 0 %}
                                                      Finished
                                                  {% else %}
                                                      {{ days_goal_remaining }} Days Remaining
                                                  {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border-0 shadow">
                            <div class="card-header border-0 bg-transparent">
                                <h2 class="card-title text-center text-secondary-emphasis  fw-bold">Fats</h2>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div id="progress-4" data-dimension="200" data-text="{{ percentage_fats }}%"
                                         data-fontsize="36"
                                         data-percent="{{ percentage_fats }}" data-fgcolor="#ffc107"
                                         data-bgcolor="#eee" data-width="15"
                                         data-bordersize="4" data-animationstep="1"></div>
                                </div>
                                <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                    <span class="badge
                                            {% if days_goal_remaining > 10 %}
                                            bg-success
                                            {% elif days_goal_remaining >= 5 and days_goal_remaining < 10 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}">
                                                     {% if days_goal_remaining <= 0 %}
                                                         Finished
                                                     {% else %}
                                                         {{ days_goal_remaining }} Days Remaining
                                                     {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="container my-5">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <div>
                    <p class="mb-0">
                        You Dont Have Any Goal Yet
                        <button type="button" class="btn btn-dark text-decoration-underline" data-bs-toggle="modal"
                                data-bs-target="#goal-modal">
                            Add Goal
                        </button>
                    </p>
                </div>
            </div>
        </section>
    {% endif %}
    <section>
        <div class="container my-5">
            <div class="card shadow border-0">
                <div class="card-header border-0 bg-transparent">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="card-title text-secondary-emphasis fw-bold">
                            Today Activity
                        </h2>
                        <a href="{% url 'main:logs' %}" class="btn btn-secondary fw-bold my-3 float-end">
                            <i class="bi bi-three-dots-vertical"></i> MORE
                        </a>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover" style="max-height: 400px">
                        <thead>
                        <tr>
                            <th scope="col">Meal</th>
                            <th scope="col">Weight(Kg)</th>
                            <th scope="col" style="white-space: nowrap">Date Belong</th>
                            <th scope="col" style="white-space: nowrap">Date Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.get_meal_display }}</td>
                                <td>{{ log.weight }}</td>
                                <td>{{ log.date }}</td>
                                <td>{{ log.created_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-gap-4">
                <div class="col">
                    <div class="card shadow border-0">
                        <div class="card-header border-0 bg-transparent">
                            <h2 class="card-title text-secondary-emphasis fw-bold">
                                Last 30 Days Calories Consumed
                            </h2>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart-Calorie" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-0">
                        <div class="card-header border-0 bg-transparent">
                            <h2 class="card-title text-secondary-emphasis fw-bold">
                                Last 30 Days Proteins Consumed
                            </h2>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart-Protein" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-0">
                        <div class="card-header border-0 bg-transparent">
                            <h2 class="card-title text-secondary-emphasis fw-bold">
                                Last 30 Days Carbs Consumed
                            </h2>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart-Carb" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-0">
                        <div class="card-header border-0 bg-transparent">
                            <h2 class="card-title text-secondary-emphasis fw-bold">
                                Last 30 Days Fats Consumed
                            </h2>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart-Fat" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-12 col-lg-12">
                    <div class="card shadow border-0">
                        <div class="card-header border-0 bg-transparent">
                            <h2 class="card-title text-secondary-emphasis fw-bold">
                                Last 30 Days Weight
                            </h2>
                        </div>
                        <div class="card-body">
                            <canvas id="Chart-Weight" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="goal-modal" tabindex="-1" aria-labelledby="goal-modal" aria-hidden="true">
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="goal-modal-title">Goal Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-gap-4">
                            <div class="col col-12 col-md-6">
                                <label for="{{ form.calorie_goal.name }}" class="form-label">
                                    Calorie
                                </label>
                                {{ form.calorie_goal }}
                            </div>
                            <div class="col col-12 col-md-6">
                                <label for="{{ form.protein_goal.name }}" class="form-label">
                                    Protein
                                </label>
                                {{ form.protein_goal }}
                            </div>
                            <div class="col col-12 col-md-6">
                                <label for="{{ form.carbs_goal.name }}" class="form-label">
                                    Carbohydrate
                                </label>
                                {{ form.carbs_goal }}
                            </div>
                            <div class="col col-12 col-md-6">
                                <label for="{{ form.fats_goal.name }}" class="form-label">
                                    Fat
                                </label>
                                {{ form.fats_goal }}
                            </div>
                            <div class="col col-12">
                                <label class="form-label" for="{{ form.date.name }}">
                                    {{ form.date.label }}
                                </label>
                                {{ form.date }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" role="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </main>
{% endblock %}
{% block script %}
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/progress.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        $(function () {
            $('#progress-1').circliful();
            $('#progress-2').circliful();
            $('#progress-3').circliful();
            $('#progress-4').circliful();
        });

    </script>




    <script>
        // Fetch the last 30 days of daily logs (adjust the data fetching accordingly)
        const dailyLogsData = [
                {% for item in thirty_days_logs_ago %}
                    {
                        date: '{{ item.date }}',
                        calories: {{ item.total_calories_consumed }},
                        protein: {{ item.total_protein_consumed }},
                        carbs: {{ item.total_carbs_consumed }},
                        fats: {{ item.total_fats_consumed }},
                        weight: {{ item.weight }}
                    }
                    // Add a comma for all entries except the last one
                    {% if not forloop.last %},{% endif %}
                {% endfor %}

            ]
        ;

        // Prepare data for Chart.js
        const CalorieData = {
            labels: dailyLogsData.map(entry => entry.date),
            datasets: [
                {
                    label: 'Calories Consumed',
                    data: dailyLogsData.map(entry => entry.calories),
                    borderColor: '#198754',
                    backgroundColor: 'rgba(25, 135, 84,0.1)',
                    fill: true
                },
            ]
        };

        const ProteinData = {
            labels: dailyLogsData.map(entry => entry.date),
            datasets: [
                {
                    label: 'Protein Consumed',
                    data: dailyLogsData.map(entry => entry.protein),
                    borderColor: '#dc3545',
                    backgroundColor: 'rgba(220, 53, 69,0.1)',
                    fill: true
                },
            ]
        };

        const CarbData = {
            labels: dailyLogsData.map(entry => entry.date),
            datasets: [
                {
                    label: 'Carbohydrates Consumed',
                    data: dailyLogsData.map(entry => entry.carbs),
                    borderColor: '#0dcaf0',
                    backgroundColor: 'rgba(13, 202, 240,0.1)',
                    fill: true
                },
            ]
        };

        const FatData = {
            labels: dailyLogsData.map(entry => entry.date),
            datasets: [
                {
                    label: 'Fats Consumed',
                    data: dailyLogsData.map(entry => entry.fats),
                    borderColor: '#ffc107',
                    backgroundColor: 'rgba(255, 193, 7,0.1)',
                    fill: true
                },
            ]
        };


        const WeightData = {
            labels: dailyLogsData.map(entry => entry.date),
            datasets: [
                {
                    label: 'Weight(Kg)',
                    data: dailyLogsData.map(entry => entry.weight),
                    borderColor: '#212529',
                    backgroundColor: 'rgba(33, 37, 41,0.1)',
                    fill: true
                },
            ],
        };

        // Get canvas element and render the chart
        const ctxCalorie = document.getElementById('Chart-Calorie')
        const ctxProtein = document.getElementById('Chart-Protein')
        const ctxCarb = document.getElementById('Chart-Carb')
        const ctxFat = document.getElementById('Chart-Fat')
        const ctxWeight = document.getElementById('Chart-Weight')


        new Chart(ctxCalorie, {
            type: 'line',
            data: CalorieData,

        });

        new Chart(ctxProtein, {
            type: 'line',
            data: ProteinData,

        });

        new Chart(ctxCarb, {
            type: 'line',
            data: CarbData,

        });

        new Chart(ctxFat, {
            type: 'line',
            data: FatData,

        });
        new Chart(ctxWeight, {
            type: 'line',
            data: WeightData,

        });
    </script>

{% endblock %}