{% url "main:home" as home %}
{% url "main:dashboard" as dashboard %}
{% url "main:logs" as logs %}
<header class="">
    <nav class="navbar navbar-expand-lg bg-secondary-subtle">
        <div class="container">
            <a class="navbar-brand text-secondary-emphasis" href="{{ home }}">NutriTrack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
                    aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sidebar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home %}active{% endif %}"
                           {% if request.path == home %}aria-current="page"{% endif %} href="{{ home }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == dashboard %}active{% endif %}"
                           {% if request.path == dashboard %}aria-current="page"{% endif %} href="{{ dashboard }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logs %}active{% endif %}"
                           {% if request.path == logs %}aria-current="page"{% endif %}
                           href="{{ logs }}">Logs</a>
                    </li>
                </ul>
                <div>
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-primary rounded-circle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-person-fill"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end border-0 shadow">
                                {#                                <li>#}
                                {#                                    <a class="dropdown-item d-flex justify-content-start align-items-center gap-3"#}
                                {#                                       href="{% url "account:profile" %}">#}
                                {#                                        <i class="bi bi-person"></i>#}
                                {#                                        <strong>{% trans 'Profile' %}</strong>#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                <li>
                                    <a class="dropdown-item d-flex justify-content-start align-items-center gap-3"
                                       href="{% url "account:logout" %}">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <strong>Logout</strong>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    {% else %}
                        <a class="btn  btn-secondary rounded-pill fw-bolder text-nowrap text-uppercase"
                           href="{% url "account:login" %}">Login</a>
                        <a class="btn btn-outline-secondary rounded-pill fw-bolder text-nowrap text-uppercase"
                           href="{% url "account:register" %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>